* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:disabled {
    background-color: gray;
    color: rgb(67, 67, 67);
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#statistics {
    background-color: #e0e0e0;
    width: 16rem;
    padding: 0 1rem;
}

#statistics p {
    display: flex;
    justify-content: space-between;
}