* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border-radius: 18px;
    background-color: rgb(22, 22, 22);
    color: white;
    border: 0;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

button:active {
    box-shadow: 0px 2px 5px #3a3a3a;
    transform: scale(0.9); 
    background-color: rgb(67, 67, 67);
}

button:disabled {
    background-color: rgb(216, 216, 216);
    color: rgb(67, 67, 67);
    cursor: not-allowed;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: min(80%, 300px);
}


.blurred-solution {
    filter: blur(5px);
    font-weight: bold;
}


#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#statistics {
    width: 16rem;
    padding: 0 1rem;
    height: fit-content;
}

#statistics p {
    display: flex;
    justify-content: space-between;
}

.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 8px;
    background-color: white;
}